XOLOS_IMAP_SERVER=mail.xolosramirez.com
XOLOS_IMAP_PORT=993
XOLOS_IMAP_USER=fernando@xolosramirez.com
XOLOS_IMAP_PASS=CAMBIAR_EN_EL_SERVIDOR
XOLOS_DRAFTS_FOLDER=Drafts
XOLOS_IMAP_VERIFY_TLS=true
XOLOS_MCP_MAX_BODY_CHARS=12000
XOLOS_MCP_MAX_RESULTS=25
